body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.top, .bottom, ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header, .footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    text-decoration: underline;
}

nav {
    margin-left: auto;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0px;
    min-width: 500px;
    gap: 32px;
}

h1, h2, h3, h5 {
    margin: 0;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 4px;
}

.container {
    display: flex;
    flex-direction: column;
}

.left .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    display: block;
    background-color: #3882F6;
    margin: 12px 0px;
    padding: 8px 32px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.placeholder {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    min-width: 350px;
    min-height: 225px;
    margin-left: auto;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 64px;
    gap: 16px;
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.set .image {
    background-color: #F9FAF8;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 25px;
    margin: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 64px 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 64px 150px;
    padding: 16px 64px;
    border-radius: 15px;
    gap: 16px;
    color: white;
}

.sign-up-banner button {
    display: block;
    border: 3px solid white;
    border-radius: 5px;
    white-space: nowrap;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 24px;
}